storePassword=REPLACE_WITH_YOUR_KEYSTORE_PASSWORD
keyPassword=REPLACE_WITH_YOUR_KEY_PASSWORD
keyAlias=REPLACE_WITH_YOUR_KEY_ALIAS
storeFile=REPLACE_WITH_ABSOLUTE_OR_RELATIVE_PATH_TO_YOUR_KEYSTORE.jks
